.h{
    height: calc( 100vh - 80px );
}

.he{
    min-height:calc( 100vh - 80px ) ;
}


.home{
    background-image: url("./image/slider-home5-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.bannaer-one{
    background-image: url("./image/banner/1.jpg");
}




.bannaer-one{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    height: calc( 100vh - 80px);
    transition: 1s;
}


.movenav{
    right: 0;
    
}

